{"filter":false,"title":".gitignore","tooltip":"/sakkyoku_commu/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":330,"scrollleft":0,"selection":{"start":{"row":41,"column":15},"end":{"row":41,"column":15},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1670338587909,"hash":"7423fc3cb8613f03dca2518660d57c0624c7c842"}